* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around;
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
    align-items: center;
    color: #202020;
}

.logo {
    font-weight: 700;
    font-size: 25px;
}

.nav-itens {
    list-style: none;
    display: flex;
}

.nav-itens>li>a {
    padding-left: 20px;
    color: #202020;
    text-decoration: none;
}

.login{
    padding: 10px 40px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #6c6b6b;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    transition: 1s background;
}

.login:hover{
    background-color: rgb(75, 74, 74);
    transition: 1s background;
}

.cadastro {
    padding: 10px 40px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #6c6b6b;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    transition: 1s background;
}

.cadastro:hover{
    background-color: rgb(75, 74, 74);
    transition: 1s background;
}

/*configuração do texto*/
 
.texto1{
    text-align: left;
    font-family: 'Poppins', sans-serif;
}

.texto2 {
    font-family: 'Poppins', sans-serif;
    margin-left: 143px;
}

/*configuração dos titulos*/

.titulo1 {
    text-align: left;
    font-family: 'Poppins', sans-serif;
    color: black;
    font-size: 22px;
}

.titulo2{
    margin-left: 143px;
    font-family: 'Poppins', sans-serif;
    color: black;
    font-size: 22px;
}


/*sintomas*/

.sintomas{
    text-align: left;
    font-family: 'Poppins', sans-serif;
    border: 2px solid rgb(124, 124, 124);
    border-radius: 15px;
    padding: 8px;
   
}

.titulo2{
    text-align: left;
    font-family: 'Poppins', sans-serif;
    color: black;
    font-size: 22px;
    
}

/*perguntas e respostas*/
.container {
    max-width: 800px;
    margin: auto;
    background: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
    font-family: 'Poppins', sans-serif;
}

.faq {
    margin-top: 20px;
}

.faq-item {
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.question {
    color: #007BFF;
    cursor: pointer;
    transition: color 0.3s;
    font-family: 'Poppins', sans-serif;
}

.question:hover {
    color: #0056b3;
}

.answer {
    display: none; /* Começa escondido */
    margin-top: 5px;
    color: #555;
    font-family: 'Poppins', sans-serif;
}

/* Adicionando um efeito de exibição da resposta */
.faq-item:hover .answer {
    display: block; /* Exibe a resposta ao passar o mouse */
}